{% trans_default_domain "datatables" %}

{% set filter = column.options.filter != false or column.options.filter_empty != false %}
{% set group = column.options.filter != false and column.options.filter_empty != false %}

{% if group %}
    <div class="input-group input-group-sm">
{% endif %}

    {% set attrs = '' %}
    {% for key, value in column.options.filter_attr %}
        {% set attrs = attrs ~ ' ' ~ key ~ '=' ~ value %}
    {% endfor %}

    {% set id = tableId ~ '_' ~ column.name ~ '_filter' %}

    {% if column.filter is datatables_textfilter %}
        {% set input %}
            <input type="text" class="form-control input-sm datatables-filter-input" id="{{ id }}" placeholder="{{ column.placeholder }}"{{ attrs }} autocomplete="off">
        {% endset %}

        {{ input }}
        {#
        <a class="btn btn-outline-secondary" tabindex="-1" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="{{ input | e }}">
            &#x2026;
        </a>
        #}
    {% elseif column.filter is datatables_choicefilter %}
        <select id="{{ id }}" title="{{ column.label }}" class="form-control input-sm datatables-filter-input"{% if column.filterOptions.multiple %} multiple="multiple"{% endif %}{{ attrs }}>

            {% if not column.filterOptions.multiple %}
                <option value="">{{ 'select all' | trans }}</option>
            {% endif %}

            {% for key, label in column.filterOptions.choices %}
                <option value="{{ key }}">{{ label }}</option>
            {% endfor %}
        </select>
    {% elseif column.filter is datatables_datefilter %}

        {% set content %}
            <input type="text" class="form-control input-sm datatables-filter-input" id="{{ id }}" placeholder="{{ column.placeholder }}"{{ attrs }}>
        {% endset %}

        <a class="btn btn-outline-secondary" tabindex="-1" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="{{ content | e }}">
            &#x2026;
        </a>

    {% endif %}

    {% if column.options.filter_empty %}
        {% if group %}
            <span class="input-group-addon">
            <input type="checkbox" id="{{ id }}_empty" class="datatables-filter-input">
        </span>
        {% else %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="{{ id }}_empty" class="datatables-filter-input">
                </label>
            </div>
        {% endif %}
    {% endif %}

{% if group %}
    </div>
{% endif %}
