{% trans_default_domain "datatables" %}

{% set attributes = '' %}
{% if options.attr is defined %}
    {% for key, value in options.attr %}
        {% set attributes = attributes ~ ' ' ~ key ~ '="' ~ value ~ '"' %}
    {% endfor %}
{% endif %}

<table id="{{ table.name }}"{% if options.class is defined %} class="{{ options.class }}"{% endif %} {{ attributes | raw }}>
    <thead{% if table.hasColumnFilter %} class="has_filter"{% endif %}>
        {% if table.hasColumnFilter %}
        <tr>
            {% for column in table.columns %}
            <th class="col-head-filter" data-col-index="{{ loop.index0 }}">
                {{ datatables_column_filter(table, column, {'id': tableId}) }}
            </th>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            {% for column in table.columns %}
            <th class="col-head-label" data-col-index="{{ loop.index0 }}">
                {{ column.label }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
</table>
